<header class="main-header">
    <div class="header-container">
      <div class="logo">Periódico Digital</div>
      <nav class="nav-links">
        <a [routerLink]="['']">Inicio</a>
        <a [routerLink]="['/section-view/politics']">Política</a>
        <a [routerLink]="['/section-view/economy']">Economía</a>
        <a [routerLink]="['/section-view/sports']">Deportes</a>
        <a [routerLink]="['/section-view/culture']">Cultura</a>
        <a [routerLink]="['/section-view/science']">Ciencia</a>
        <div class="auth-links">
          <a (click)="logOut()">Cerrar sesión</a>
        </div>
      </nav>
    </div>
  </header>  