span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: #000000;
    padding: 5px 0;
    text-align: center;
    color: white;
}

.firstBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-container img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo-container h4 {
    font-size: 1.2em;
    margin: 0;
}

/* Main */
main {
    flex: 1;
    margin: 40px 5vw;
    padding: 20px;
}

/* Título */
h2.title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

/* Subtítulo */
h3.subtitle {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 20px;
}

/* Botones */
.button-container {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.button-container button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    height: 40px;
    padding: 0 20px;
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    transition: all 0.5s ease 0s;
    margin-bottom: 20px;
}

.button-container button:hover {
    box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
    transition: all 0.1s ease 0s;
}

/* Contenedor del artículo */
.draft-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}

.draft-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    max-width: 800px; 
    transition: transform 0.3s;
    text-align: left;
    margin: 0 auto; 
}

.draft-item h2.title {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333;
}

.draft-item h3.subtitle {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 15px;
}

.draft-item p {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

.paragraph-text {
    white-space: pre-line;
    font-size: 14px; 
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
    margin-top: 10px; 
    max-width: 100%; 
    overflow-wrap: break-word; 
  }

.draft-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.draft-item p strong {
    font-weight: bold;
}

.draft-item button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.draft-item button:hover {
    background-color: #005bb5;
}

/* Footer */
footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

/* Media Queries */
@media (max-width: 768px) {
    .draft-item {
        max-width: 100%;
    }

    h2.title {
        font-size: 1.6em; 
    }

    h3.subtitle {
        font-size: 1.1em; 
    }

    .draft-container {
        margin: 20px; 
    }

    .draft-item {
        padding: 10px;
    }

    .paragraph-text {
        font-size: 12px;
    }

    .button-container {
        flex-direction: column;
        gap: 15px;
    }

    .button-container button {
        width: 100%;
        padding: 12px 0;
    }
}